.movie-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  overflow: auto;
  padding-bottom: 50px;
  position: relative;

  .movie-poster img {
    width: 300px;
    height: auto;
    margin-right: 50px;
  }

  .movie-info {
    width: 500px;
    color: $white;

    #movie-title {
      font-size: 2rem;
      margin: 0 0 10px 0;
    }

    #rating {
      font-size: 0.9rem;
      margin: 15px 0;
    }

    #runtime {
      font-size: 0.9rem;
      margin: 15px 0;
    }

    #movie-cast {
      display: flex;
      font-size: 0.9rem;
      margin: 15px 0;
    }

    #overview {
      display: block;
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: 30px;
    }
  }
}
